# Support Vector Classifiers

SVM classifiers, short for Support Vector Machine classifiers, are a powerful tool in machine learning used for classifying data. They work by finding a hyperplane, essentially a dividing line in lower dimensions or a plane in higher dimensions, that best separates different classes of data points. The key idea is to maximize the margin between this decision boundary and the closest data points from each class, called support vectors. This approach allows SVMs to effectively handle complex data and even perform well in situations where there are more dimensions than data points, making them a versatile and well-regarded classification technique.

$$
\begin{array}{ll}
\text{maximize:} & \quad ||\mathbf{w}||^2 \ \
\text{subject to:} & \quad y_i(\mathbf{w} \cdot \mathbf{x}_i + b) \geq 1, \forall i
\end{array}
$$

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
# Creating Data with Random Numbers

mean1 = 55
std_dev1 = 10
num_samples = 500

column1_numbers = np.random.normal(mean1, std_dev1, num_samples)
column1_numbers = np.clip(column1_numbers, 12, 26)
column1_numbers = np.round(column1_numbers).astype(int)

mean2 = 18
std_dev2 = 3

column2_numbers = np.random.normal(mean2, std_dev2, num_samples)
column2_numbers = np.clip(column2_numbers, 12, 26)
column2_numbers = np.round(column2_numbers).astype(int)

column3_numbers = np.random.randint(2, size = num_samples)
column3_numbers[column1_numbers > mean1] = 1

data = {
    'Miles_Per_week': column1_numbers,
    'Farthest_run': column2_numbers,
    'Qualified_Boston_Marathon': column3_numbers
}

df = pd.DataFrame(data)

In [3]:
df.head()

   Miles_Per_week  Farthest_run  Qualified_Boston_Marathon
0              26            12                          0
1              26            12                          1
2              26            16                          0
3              26            19                          0
4              26            19                          1